<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ @copyright 2019-2021 Dicr http://dicr.org
  ~ @author Igor A Tarasov <develop@dicr.org>
  ~ @license MIT
  ~ @version 19.04.21 14:54:09
  -->

<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
        bootstrap="./tests/bootstrap.php"
        colors="true"
>
    <testsuites>
        <testsuite name="Dicr Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
