<?php
use dicr\cdek\CdekApi;

const TEST_API_CONFIG = [
    'login' => 'xxx',
    'password' => 'xxx',
    'defaultSenderCityPostCode' => 614087, // Пермь
    'defaultWeight' => 0.24,
    'defaultVolume' => 0.001,
    'defaultTariffList' => [
        ['id' => CdekApi::TARIF_POST_S_S],
        ['id' => CdekApi::TARIF_POST_S_D],
        ['id' => CdekApi::TARIF_ECOPOST_S_D],
        ['id' => CdekApi::TARIF_ECOPOST_S_S]
    ]
];

const TEST_CALC_REQUEST = [
    'receiverCityId' => 44, // Москва
];

const TEST_CALC_RESULT = [
    'price' => 210,
    'deliveryPeriodMin' => 2,
    'deliveryPeriodMax' => 3,
];
